$ go run examples/nameprinterreuse/main.go
Tom
Jim
Jess
Holly
Frank
Joe
Amelia
Tony
Elizabeth
Francesca
Tom
Received error: process `name-printer-min-3-chars` failed: invalid name: a. must be at least 3 characters
